body{
    font-family: sans-serif;
    background-color: rgb(247, 246, 249);
}
.alert{
    background-color: rgb(249, 218, 219);
    border-radius: 15px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.alertBlack{
    font-weight: 600;
}
.optimaLogo{
    background-image: url('/old/optimapng.png');
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}
.alert p{
    padding: 0 15px;
}
.spanOptima{
    font-weight: 600;
    font-size: 26px;
}
.spanBusiness{
    font-size: 26px;
}
.divLogoOptima{
    display: flex;
    align-items: center;
    gap: 10px;
}
.marginDiv{
    margin-left: 400px;
}
.whiteDiv{
    background-color: white;
    width: 600px;
    border-radius: 20px;
}
.vhod{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
}
.rus{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.arrow{
    display: block;
    width: 30px;
    height: 20px;
    background-image: url('/old/arrow-down-svgrepo-com (1).svg');
    background-size: cover;
    margin-bottom: 10px;
}
.langChoice{
    display: flex;
    align-items: center;
    margin-top: -30px;
}
.vhodLang{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.padding{
    padding: 30px;
}
.inputID{
    outline: none;
    border: none;
    border: 1px #bcbcc0 solid;
    width: 540px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 8px;
}
.span1{
    position: absolute;
    color: #bcbcc0;
    font-size: 17px;
    transition: all .3s ease;
    left: 15px;
    top: 15px;
}
.pEye{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/old/eye-invisible-svgrepo-com.svg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 10px;
}
.relativeID{
    position: relative;
}
input:focus+.span1{
    transform: scale(0.7);
    top: 0;
    left: 0;
    color: #666666;
}
input:not(:placeholder-shown)+.span1{
    top: 0;
    left: 0;
    transform: scale(0.7);
}
input:focus{
    border-color: #2f2f30;
}
.linkRemember{
    text-decoration: none;
    font-weight: 600;
}
.buttonContinue{
    display: block;
    background-color: #e4e4e6;
    width: 270px;
    height: 50px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 600;
}
.buttonPhoneNumber{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    text-decoration: none;
    width: 270px;
    height: 50px;
    font-weight: 600;
}
.flexButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    padding-bottom: 20px;
}
.help{
    color: #6c6c70;
    text-decoration: none;
    font-weight: 600;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    border-radius: 20px;
    width: 130px;
    height: 30px;
}
.imgCall{
    width: 20px;
    height: 20px;
    background-size: cover;
    transform: rotate(270deg);
}
.questions{
    color: #6c6c70;
    text-decoration: none;
    font-weight: 600;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 30px;
}
.questionImg{
    width: 20px;
    height: 20px;
    background-size: cover;
}
.pdf{
    color: #6c6c70;
    text-decoration: none;
    font-weight: 600;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    border-radius: 20px;
    width: 260px;
    height: 30px;
}
.flexButtons2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.fleex{
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    gap: 20px;
    width: 600px;
}
.a{
    color: grey;
    text-decoration-color: grey;
}
.p{
    margin: 0;
}
.d{
    display: flex;
    flex-direction: column;
    align-items: center;
}